
.btn-accept, .btn_submit {
  color: white;
  padding: 4px 10px;
  border-radius: 4px;
  background: #36ba43;
    &:hover {
      background: #387d21;
      color: white;
    }
}


.btn-reject {
  margin-top: 5px;
  color: white;
  padding: 4px 10px;
  border-radius: 4px;
  background: #cf5656;
    &:hover {
      background: #6b2121;
      color: white;
    }
}

.btn_submit{
  margin-top: 6px;
}

.btn-log-in {
  color: white;
  padding: 4px 10px;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 10px;
  width: 124px;
  background: #1f1076;
  text-decoration: none;
    &:hover {
      background: #14063f;
      color: white;
    }
}
