
.btn-accept, .btn-sign-up {
  color: white;
  padding: 4px 10px;
  border-radius: 4px;
  background: #1b5e22;
  a{
    color: white;
    text-decoration: none;
  }
    &:hover {
      background: #1e4610;
      color: white;
    }
}

.btn-sign-up{
  margin-top: 6px;
}
.btn-reject {
  margin-top: 5px;
  color: white;
  padding: 4px 10px;
  border-radius: 4px;
  background: #cf5656;
    &:hover {
      background: #6b2121;
      color: white;
    }
}

.btn_submit{
  margin-top: 6px;
}

.btn-log-in {
  color: white;
  padding: 4px 10px;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 10px;
  width: 124px;
  background: #1f1076;
  text-decoration: none;
    &:hover {
      background: #14063f;
      color: white;
    }
}

.btn-submit {
  background-color: #1f1076;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  text-align: center;
  margin-top: 6px;
  &:hover {
    background: #14063f;
    color: white;
  }
}

.btns-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-search {
  background-color: #2f455c;
  padding-top: 8px;
  padding-bottom: 8px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  color : white;
    &:hover {
      background-color: #243344;
      color : white;
    }
}
