.flex-container-show{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.card-show-title {
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 7px;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(109, 107, 107);
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  position: relative;
}

.title-container {
  display: flex;
  align-items: center;
}

.card-show {
  margin-top: 30px;
  padding: 20px;
  background-color: white;
  border-radius: 7px;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: rgb(109, 107, 107);
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  position: relative;
}

.card-reservation {
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: white;
  border-radius: 7px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(109, 107, 107);
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  transition: transform 0.3s ease-in-out;
}

.card-img {
  margin-top: 30px;

}
.flex-cards{
  display: flex;
}

.button-reserver, .button-modifier, .button-connect{
  background-color: #2f455c;
  border: none;
  padding: 12px 15px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  color: white;
  text-decoration: none;

}

.button-reserver:hover, #button-modifier:hover, .button-connect:hover{
  background-color: #2e3e4e;
  color:white
}

.button-supprimer{
  background: #cf5656;
  color: white;
  border: none;
  padding: 12px 15px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  &:hover {
    background: #6b2121;
    color: white;
  }
}

.card-home-one{
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: white;
  border-radius: 7px;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: rgb(109, 107, 107);
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.card-home{
  margin-top: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
