.home-content{
  padding-top: 35px !important;
  padding-bottom: 16px !important;
  margin-top: 10px !important;
  margin-bottom: 16px !important;
}

.main-title{
  color:  #2f455c;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  margin-top: 0 !important;
}
