.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.nav-item{
  align-items: center !important;
  display: inline-flex !important;
}

.navbar{
  padding-left: 25px;
  padding-right: 25px;
}
